/* VAR */
:root {
    --my-message:#d5f9ba;
    --l-grey:#eaeaea;
    --b-write:#f3eeea;
    --b-noti:#8edafc;
    --icon:#b1b1b1;
    --text:#cfcdd8;
    --desk-bcol-up:#009688;
    --desk-bcol-down:#dcdbd2;
}


/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    width: 100%;
}


/* COMMON */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.list-scroll {
    overflow-y: scroll;
}

.container {
    height: 80px;
    padding: 10px;
}

.profile-pic {
    height: 60px;
    width: 60px;
    /* debug */
    background-color: black;
}

li {
    list-style-type: none;
}


/* WEB APP VIEWPORT */
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 991px) {
    .up-wrapper {
        background: linear-gradient(
            var(--desk-bcol-up) 0%,
            var(--desk-bcol-up) 20%,
            var(--desk-bcol-down) 20%
        );
        height: 100vh;
        width: 100%;
    }

    .flex-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 90%;
        height: 90vh;
        background-color: white;
    }
}


/* LEFT SECTION */
.container-left {
    display: none;
}

/* USER */
.user {
    background-color: grey;
}

.profile-nav {
    display: none;
    width: calc(100% - 60px);
    height: 100%;
    /* debug */
    background-color: blueviolet;
}

/* NOTIFICATION */
.notification {
    display: none;
}

.container-big {
    height: 90px;
    padding: 10px;
}

.silence-pic {
    height: 70px;
    width: 70px;
    margin: auto;
    /* debug */
    background-color: black;
}

.news-container {
    width: calc(100% - 70px);
    height: 100%;
    /* debug */
    background-color: blueviolet;
}

/* SEARCH */
.search {
    display: none;
}

.container-small {
    height: 70px;
    padding: 10px;
}

.search-icon {
    height: 50px;
    width: 50px;
    /* debug */
    background-color: black;
}

.searcher {
    width: calc(100% - 50px);
    height: 100%;
    padding: 10px;
    /* debug */
    background-color: blueviolet;
}

/* CONTACT LIST */
.contact-list {
    height: calc(100vh - 80px);
}



.info-contact {
    display: none;
    width: calc(100% - 60px);
    height: 100%;
    /* debug */
    background-color: blueviolet;
}

/* MEDIA QUERY LEFT SECTION (LAPTOP) */
@media screen and (min-width: 540px) {
    .container-left {
        width: 80px;
        display: block;
    }
}

/* MEDIA QUERY LEFT SECTION (DESKTOP) */
@media screen and (min-width: 991px) {
    .container-left {
        width: 35%;
    }

    .profile-nav {
        display: flex;
    }

    .notification {
        display: flex;
    }

    .search {
        display: flex;
    }

    .info-contact {
        display: flex;
    }

    .contact-list {
        height: calc(90vh - 240px);
    }
}



/* RIGHT SECTION */
.container-right {
    height: 100vh;
    width: 100%;
}

/* HEADER */
.info-texting-contact {
    height: 60px;
    width: calc(100% - 60px);
    padding: 5px;
    /* debug */
    background-color: brown;
}

/* MAIN */
.container-chat {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 160px);
}

.message-space {
    padding: 30px;
}

.container-message {
    display: inline-block;
    border-radius: 10px;
    max-width: 80%;
    padding: 20px 20px 10px 20px;
}

.my-message {
    text-align: right;
}

.my-message > div {
    background-color: var(--my-message);
}

.response > div {
    background-color: white;
}

.content-message {
    max-width: calc(100% - 20px);
}

.content-message p {
    text-align: left;
}

/* MENU */
.message-menu { 
    position: relative;
    display: inline-block;
    width: 20px;
}

.message-menu i {
    color: var(--icon);
}

.message-menu:hover .menu {
    display: block;
}

.menu{
    display: none;
    position: absolute;
    left: -50px;
    width: 110px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px #000000;
    box-shadow: 0 0 2px #000000;


}

.menu div {
    font-size: .7rem;
    text-align: center;
    padding: 5px 0;
}

.canc:hover {
    opacity: .4;
}

.info:hover {
    opacity: .4;
}

.hour {
    max-width: 100%;
    text-align: right;
    color: var(--icon);
}

.footer-color{
    background-color: var(--b-write);
}

.write {
    height: 50px;
    width: 90%;
    margin: auto;
}

/* MEDIA QUERY SECTION RIGHT (TABLET) */
@media screen and (min-width: 540px) {
    .container-right {
        width: calc(100% - 80px);
    }

    .info-texting-contact {
        width: calc(100% - 180px);
    }

    .contact-nav {
        width: 120px;
        /* debug */
        background-color: aqua;
    }

    .write {
        width: calc(100% - 120px);
    }

    .write-tool {
        height: 50px;
        width: 60px;
        margin: auto;
        /* debug */
        background-color: blue;
    }
}

@media screen and (min-width: 991px) {
    .container-right {
        width: 65%;
        height: 90vh;
    }

    .container-chat {
        height: calc(90vh - 160px);
    }
}