:root {
    --my-message:green;
    --l-grey:lightgrey:
}


/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}


/* WEB APP VIEWPORT */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* LEFT SECTION */


/* RIGHT SECTION */
